
$button-color: #0099FF;

@mixin animated($time: 0.05s, $names: all) {
    -webkit-transition: $names $time ease-in-out;
    -moz-transition: $names $time ease-in-out;
    transition: $names $time ease-in-out;
}

@mixin inline-block {
    display: inline-block;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin grad($top, $bottom, $flip: false) {
    background-color: mix($top, $bottom);

    @if $flip {
        $tmp: $top;
        $top: $bottom;
        $bottom: $tmp;
    }

    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);
}

@mixin autograd($color, $amount: 10%, $flip: false) {
    @include grad($color, darken($color, $amount), $flip);
}

.top-right {
    text-align: right;
}

.download-area, .tools-area {
    @include inline-block;
    vertical-align: middle;
    text-align: center;
}

.tools-area {
    margin: 20px 0;

    .flat-button {
        $border-color: desaturate(darken(#E0FAD7, 12%), 20%);

        @include autograd(#E0FAD7, 3%);
        @include animated(0.1s, box-shadow);

        margin: 10px 0;
        display: block;
        color: darken(#E0FAD7, 65%);
        text-shadow: 1px 1px 0px white;
        border-radius: 8px;
        border: 1px solid $border-color;
        padding: 10px;

        &:hover {
            @include autograd(lighten(#E0FAD7, 2%), 3%);
            border-color: darken($border-color, 3%);
            box-shadow: 0px 0px 10px lighten($border-color, 10%);
        }

        &:active {
            @include autograd(lighten(#E0FAD7, 2%), 3%, true);
            position: relative;
            top: 1px;
        }
    }
}

.download-area {
    border-left: 1px dashed #CECECE;

    margin: 20px;
    padding: 20px;
    padding-top: 28px;

    .below-download {
        margin-top: 5px;
        font-size: 12px;
    }

    .decorative {
        font-family: serif;
        color: gray;
        font-style: italic;
    }

    .download-button {
        $height: 8px;
        $depress: 4px;

        @include unselectable;
        @include inline-block;
        @include animated;
        cursor: pointer;
        position: relative;
        top: -1px * $height;


        font-size: 16px;
        font-weight: bold;

        @include autograd($button-color);
        color: lighten($button-color, 80%);

        padding: 12px 24px;
        border-radius: 8px;
        text-shadow: none;

        box-shadow: 0px $height 0px darken($button-color, 30%), inset 0px -1px 0px rgba(255,255,255, 0.2), inset 0px 1px 0px rgba(0,0,0, 0.2), 0px $height 10px #444;
        text-shadow: 0px 1px 2px darken($button-color, 30%);

        &:hover {
            @include autograd(lighten($button-color, 3%));
        }

        &:active {
            box-shadow: 0px $height - $depress 0px darken($button-color, 30%), inset 0px -1px 0px rgba(255,255,255, 0.2), inset 0px 1px 0px rgba(0,0,0, 0.2), 0px ($height - $depress) 10px #444;
            top: -1px * ($height - $depress);
        }

        .sub {
            font-size: 12px;
            font-weight: normal;
        }
    }
}



.new {
    $bright-bg: #FBFBB6;
    background: $bright-bg;
    border-radius: 8px;
    padding: 1em;
    border: 1px solid #EBEBAA;

    strong {
        color: #59502B;
    }

    a:hover {
        background-color: transparent;
    }
}

.hint {
    color: #444;
}

body {
    margin: 0;
    padding: 0;
    font: 14px verdana, sans-serif;
}

hr {
    border:0 #ccc solid;
    border-top-width:1px;
    clear:both;
    height:0;
}

h1, h2, h3, h4 {
    font-family: calibri, helvetica, sans-serif;
    margin: 0;
}

h2, h3, h4 {
    margin: 10px 0;
    color: #1C97E8;
}


h2 { font-size: 23px; }
h3 { font-size: 18px; }

.top {
    background: #182F51;
    height: 6px;
    border-bottom: 1px solid white;
}

.header {
    $header-color: #E7F3FB;
    @include autograd(darken($header-color, 0%));
    box-shadow: inset 0px -1px 0px darken($header-color, 20%), inset 0px -2px 0px lighten($header-color, 10%), 0px -8px 16px 8px #C2C2C2;
    color: #182F51;
    text-shadow: 1px 1px 0px white;
}

.header h1 {
    font-size: 25px;
    padding: 0.25em;
    padding-left: 0;
}

.header-link {
    padding-top: 1em;
}

.header-link a:link {
    border-bottom: none;
}


.header-link a:hover {
    border-bottom: 1px solid #4570B8;
}

h1 a:link, h1 a:visited {
    color: #182F51;
    text-decoration: none;
    border-bottom: 0;
}

p {
    margin: 15px 10px;
    line-height: 150%;
}

ul p {
    margin: 5px 0;
}

ul {
    margin: 10px 0;
}

a:link, a:visited {
    color: #4570B8;
    border-bottom: 1px solid #4570B8;
    text-decoration: none;
}

a:hover {
    background-color: #E7F3FB;
}

#nav {
    margin: 14px 0;

    ul {
        margin: 0;
    }

    li {
        margin: 3px 0px;
    }
}

hr {
    border: 0;
    height: 1px;
    background-color: #afafaf;
    margin: 0px 1em;
}

.sub {
    font-size: 66%;
}

.foot {
    color: #afafaf;
    font-size: 80%;
    text-align: center;
    margin: 1.0em 0em;
}

.foot a {
    text-decoration: none;
    color: #777777;
    border-bottom: 1px solid #777777;
}

.foot a:hover {
    color: #000000;
    background: none;
}

#demoselect {
    border: 1px solid #777777;
    margin: 1em 0;
    padding: 0.5em;
}

.demo-box {
    position: relative;
    border: 1px solid #777;
}

.output-pane {
    min-height: 400px;
    margin: 0px;
    margin-left: 50%;
    background: #f4f4f4;
    border-left: 1px dashed #777;
    padding: 8px;
}

pre {
    font-size: 15px;
    line-height: 19px;
}

pre.output-pane {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin-bottom: 0px;
}

.demo-box .CodeMirror {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 50%;
}

.demo-box .CodeMirror-scroll {
    height: 100%;
}

.demo-tools {
    padding: 4px 1em;
    margin-bottom: 1em;
}

.full-editor .CodeMirror {
    border: 1px solid #aaa;
    margin: 1em 0;
}

.full-output {
    border: 1px solid #aaa;
    margin: 1em 0;
    padding: 8px;
}

.comments {
    padding: 0.5em;
    border: 1px solid #777777;
}

p.important {
    background-color: #FBE7E7;
    background-color: #FFD6D7;
    background-color: #FFDEE2;
    padding: 1em 0.5em;
    margin: 0.5em 0.0em 0.5em 0.5em;
}


/* pygments */
.s1, .s2 { color: #a8ff60; }
.k { color: #96cbfe; }
.nb { color: #ffd2a7; }
.o { color: #00a0a0; }
.nv { color: #c6c5fe; }
.cm, .c1 { color: #7c7c7c; }
.nx, .nc { color: #ffffb6; }
.cp { color: #CCA1AA; }
.nf { color: #FFAFA3; }
.w { color: #FF7C73; }

pre.highlight {
    font-family: monospace; 
    color: #f6f3e8;
    background-color: #101010;
    padding: 1.0em 4.0em;
    margin: 1.0em 0;

    -moz-box-shadow: 2px 2px 8px #888;
    -webkit-box-shadow: 2px 2px 8px #888;
    box-shadow: 2px 2px 8px #888;
}

.green-info {
    background: #E0FAD7;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-top: 1em;
}


.green-info a:hover {
    background: none;
}

.green-info h3 {
    color: #0F3900;
    text-shadow: 1px 1px 0px white;
    margin: 0px 0px 8px 0px;
    padding: 0px;
    font-size: 140%;
}

.pad {
    padding: 1em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.single-commit {
    border: 1px solid #777777;
    margin-bottom: 2px;
    padding: 2px 4px;
    cursor: pointer;
    font-size: 90%;
}

.single-commit:hover {
    background-color: #F4FFF0;
    border: 1px solid green;


    background-color: #FFFDEB;
    border: 1px solid #484100;

}

.commit-message {
    font-style: italic;
    color: #444;
    padding: 0px 2px;
}

p code {
    background: #eee;
    padding: 2px 4px;
    border-radius: 2px;
}

.social {
    float: right;
    line-height: 40px;
    vertical-align: center;
    position: relative;
    top: 6px;
}

/* docs */

td {
    vertical-align: top;
}


.code-split {
    width: 100%;
    background-color: #101010;
    margin: 1.0em 0;
    -moz-box-shadow: 2px 2px 8px #888;
    -webkit-box-shadow: 2px 2px 8px #888;
    box-shadow: 2px 2px 8px #888;
}

.code-split td {
    width: 450px;
    overflow-x: auto;

    margin: 0px;
    padding: 0px;
}

.code-split pre {
    padding: 12px;
    margin: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.code-split td.right-cell {
    border-right: 0;
    border-left: 2px solid #666;
}

.split-header {
    color: #ddd;
    font-size: 10px;
    line-height: 16px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    background: #666;
}

.code-split .split-header td {
    padding-left: 8px;
}

.github-buttons {
    padding: 4px 12px;
}


.save-snippet {
    margin-top: 15px;
    float: right;
}

.save-snippet input {
    border: 1px solid silver;
    border-radius: 2px;
}


