
$wrap{"web"}

<div class="container_12">
  <div class="grid_4">
    <div id="nav">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#demo">Demo</a></li>
        <li><a href="#quick_start">Quick Start</a></li>
        <li><a href="#plugins">Plugins</a></li>
        <li><a href="$root/changelog.html">Changelog</a></li>
        <li><a href="#issues">Issues</a></li>
        <li><a href="#comments">Comments</a></li>
      </ul>
    </div>
  </div>

  <div class="grid_8 top-right">
    <div class="tools-area">
      <a class="flat-button" href="$root/docs/" id="doc-button">Documentation</a>
      <a class="flat-button" href="http://github.com/leafo/lessphp" id="github-button">Source on GitHub</a>
    </div>

    <div class="download-area">
      <a href="$root/src/lessphp-$current_version.tar.gz">
        <div class="download-button" id="big-download">
          <div>Download</div>
          <div class="sub">lessphp-$current_version.tar.gz</div>
        </div>
      </a>
      <div class="below-download">
        <span class="decorative">or</span>
        <a href="#composer">Using Composer</a>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="grid_12">
    <div class="new">
      <strong>New:</strong> lessphp $current_version, fixes for Bootstrap 2.3,
      <a href="$root/changelog.html">Changelog</a> (March 2th 2013)
    </div>

    $body
  </div>
  <div class="clear"></div>
</div>

